.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
}

#twitterLoginBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    width:100%;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top:30px;
}
#twitterLoginBtn:hover {
    background-color: #242424;
}

#twitterLoginBtn:active {
    background-color: #333333;
}
.twitter-Logo{
     width: 20px;
    height: 20px;
}