
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.mainContainer{
    width:80%;

    height: 100vh;
    margin: auto;
    margin-top:8vw;

}
.siteTitle{
    color:#484a4e;
     font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: 1.1rem;
}
.cardsContainer{
    margin: auto;
    display:flex;
    
    flex-direction: row;
    gap:3rem;
    flex-wrap: wrap;
    align-items: center;
      display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  justify-items: start;
  cursor: pointer;
}
.bingocard:hover{
    transform: scale(1.02);
    transition: 0.2s;
}
.bingoImg{
    margin: auto;
    width:100%;
    margin-bottom: 50px;
}
.bingocard img{width:45%}