
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.mainContainer{
    width:80%;
    border:1px solid red;
    height: 100vh;
    margin: auto;
    margin-top:5vw;

}
.siteTitle{
    color:#484a4e;
     font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: 1.5rem;
}
.cardsContainer{
    display:flex;
    flex-direction: row;
}
.bingocard{
    
}
.bingocard img{width:45%}