@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#menuContainer{

}
.logoTitle{
    font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  background: linear-gradient(to left, #7c4df2, #6fa8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin:0;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.menuContent{
    display: flex;
    justify-content: center;
     font-family: "Montserrat", sans-serif;
      font-weight:400;
}
.menuContent ul{
    display:flex;
    flex-direction:row;
    padding: 0;
    
}
.menuContent ul li{
    list-style-type: none;
    margin: 10px;
    cursor: pointer;
 
}
.menuContent ul a{
    text-decoration: none;
    font-size: 1rem;
    color:#4c4e52;
}
.menuContent ul a:hover{
    color:#070707;
    transition: 0.5s;
}