@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#ideaLeaderContainer{
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;

}
.rfm-marquee{overflow: hidden;}
.rfm-child{margin-left: 200px;}
.ideaContainer{
    width:40%;
    margin: auto;
    }

.idea span{
        color:#3a3b3e;

    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: 0.7rem;
}
#smallTitle{
    text-align: center;
    font-size: 1rem;
    color:#484a4e;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    margin-bottom:15px;
    margin-top:5px;
}