@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#ideaLeaderContainer{
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.rfm-child{margin-left: 200px;}
.ideaContainer{
    width:40%;
    margin: auto;
    }
.idea{
    width:7vw;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    background-color: #60607d;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.idea span{
    color:#d4d4d4;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: 0.7rem;
}
#smallTitle{
    text-align: center;
    font-size: 1rem;
    color:#484a4e;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    margin-bottom:25px;
    margin-top:0;
}